body {
  background-image: url(https://images.wallpaperscraft.ru/image/single/zvezdy_mlechnyj_put_prostranstvo_116893_3840x2160.jpg);
  background-repeat: no-repeat;
  font-size: 16px;
  background-size: cover;
  font-family: Rubik, Roboto, sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  color: rgb(48, 43, 43);
  
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  border: none;
  background: none;
  outline: none;
  color: rgb(48, 43, 43);
  font-size: 16px;
  font-family: Rubik, Roboto, sans-serif;
}

a {
  color: rgb(48, 43, 43);
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  margin-top: -200px;
}
.FFF{
  background-color: rgb(165, 163, 161);
  width: 100%;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-radius:12px 12px 0 0 ;
}
.GGG{
  
  color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(165, 163, 161);
  justify-content: space-between;
  height: 80px;
  padding: 0 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* @media (max-width:575px) {
       
  .container {
    width: 570px;
    margin: 0 auto;
    min-height: 100vh;
  }
  body{
    width: min-content;
  }
 
}
@media (max-width:375px) {
       .container {
        width: 370px;
        margin: 0 auto;
        
      }
      body{
        width: min-content;
      }
      
} */
@media (max-width:875px) {
  .container{
   width: 600px;
   margin-top: 0px;
   
  }
  body{
   background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679462538_bogatyr-club-p-vertikalnie-oboi-chernii-fon-instagram-1.jpg );
   background-size: cover ;
  
  }
}

@media (max-width:475px) {
  .container{
   width: 400px;
   margin-top: 0px;
   
  }
  body{
   background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679462538_bogatyr-club-p-vertikalnie-oboi-chernii-fon-instagram-1.jpg );
   background-size: cover ;
  
  }
}

@media (max-width:400px) {
   .container{
    width: 400px;
    margin-top: -50px;
   }
   body{
    background-image: url(https://bogatyr.club/uploads/posts/2023-03/1679462538_bogatyr-club-p-vertikalnie-oboi-chernii-fon-instagram-1.jpg );
   }
}
@media (max-width:376px) {
    .container{
      width: 400px;
      margin-top: -100px;
    }
}